protobuf==5.29.3
requests
six==1.17.0
appdirs
websocket-client
rel
PySocks
names
ffmpeg
pillow
qrcode
python-axolotl-curve25519
cffi
transitions
dissononce
tlslite-ng==0.8.0b3
urllib3
apkutils
pycryptodome
betterproto
Flask
gevent
pyyaml
pydantic
